{{ define "adminHome" }}
<div class="admin-home">
  
  <ul class="boxes">
    <li class="box box-2">
      <p>Something</p>
    </li>

    <li class="box box-3">
      <p>Gamertag</p>
    </li>

    <li class="box box-1">
      <p>Membership Type</p>
    </li>
  </ul>

  <div class="users">
    <h1>Users</h1>

    <ul class="users-list">
      {{ range .Users }}
        <li class="user">
          <ul class="user-content">
            <li class="platform-image"></li>
            <li class="uname">{{ .Username }}</li>
            <li class="gamertag">{{ .Gamertag }}</li>
            <li class="mem-type">{{ .MembershipType }}</li>
            <li class="bungie-link">[ {{ .MembershipType }} ]</li>
          </ul>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}

{{ define "adminHomeStyle" }}
<style>
h1 {
  color: #fff;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}

.users-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  border-top: 13px solid #ff3b2d;
}

.user {
  list-style-type: none;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 5px 0;
  padding: 0;
  color: #fff;
  transition: 0.25s;
  height: 30px;
}

.user:hover {
  background: rgba(255, 255, 255, 0.7);
}

.user-content {
  margin: 0;
  padding: 5px 0 0 0;
  border-top: 0 solid #000;
}

.user-content li {
  position: absolute;
  display: inline-block;
  float: right;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.platform-image {
  background: #000;
  width: 30px;
  height: 30px;
}

.uname {
  float: left;
  left: 10px;
  transform: translate(-0%, -0%);
}

.mem-type {
  right: 370px;
  transform: translate(-50%, -0%);
}

.gamertag {
  right: 125px;
  transform: translate(-50%, -0%);
}

.bungie-link {
  left: 20%;
  transform: translate(-50%, -0%);
}

.users {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 75%;
  height: 50%;
}

.boxes {
  position: absolute;
  z-index: -5;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -0%);
  margin: 0;
  padding: 0;
  width: 75%;
  height: 50%;
}

.box {
  display: inline-block;
  float: right;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 150px;
  height: 100%;
}
</style>
{{ end }}
